<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>com.pogin.jupyterlab</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>/Users/pogin/dotfiles/etc/jupyterlab.sh</string>
        <string>8888</string>
        <string>/Users/pogin/</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/pogin/var/log/jupyter/jupyterlab.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/pogin/var/log/jupyter/jupyterlab.err.log</string>
</dict>
</plist>
